.caseStudyWholeContainer {
    align-items: flex-start;
    background: var(--bg-color);
}

.caseStudyHeroSection {
    height: 90vh;
}


/* Title and Description */
.caseStudyTitleDescription {
    display: flex;
    flex-direction: column;
    gap: var(--work-grid-gap);
}

.caseStudyTitle {
    font-size: var(--fs-164);
    font-weight: 600;
    color: var(--prime-text-color);
}

.caseStudyDescription {
    font-size: var(--fs-36);
    font-family: var(--secondary-font);
    width: 70%;
    color: var(--prime-text-color);
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .caseStudyTitleDescription {
        gap: var(--fs-64);
    }

    .caseStudyDescription {
        width: 100%;
    }
}


/* Hero Video Section */
.heroVideo {
    width: 100%;
    aspect-ratio: 16/8;
    object-fit: cover;
    border-radius: var(--image-corner-radius);
}

/* Project OVerview */
.headingContentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subHeading {
    font-size: var(--fs-64);
    width: 50%;
    color: var(--prime-text-color);
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: var(--work-grid-gap);
    width: 100%;

}

.description,
.description span {
    font-size: var(--fs-48);
    font-family: var(--secondary-font);
    line-height: 1.3;
}

.description span {
    color: var(--prime-text-color);
    font-weight: 600;
}

.projectOverviewDetials {
    display: flex;
    flex-wrap: wrap;

    h3 {
        flex-basis: 50%;
        padding: 0 0 50px 0;
        box-sizing: border-box;
        font-size: var(--fs-36);
        font-family: var(--secondary-font);
        font-weight: 600;
        color: var(--prime-text-color);
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .headingContentContainer {
        flex-direction: column;
        gap: var(--fs-64);
    }

    .projectOverviewDetials {
        flex-direction: column;
        gap: 10px;

        h3 {
            padding: 0;
        }
    }
}

/* Work Images */


.workImagesSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--case-study-work-gap);
}

.singleImageContainer {
    width: 100%;
}

.doubleImageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--case-study-work-gap);
}

.oneThirdImageContainer {
    width: calc(70%);
}

.oneThirdTwoImages {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--case-study-work-gap);
    align-items: center;
}

.twoOntThirdImages {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--case-study-work-gap);
    align-items: center;
}

.workImages {
    width: 100%;
    border-radius: var(--image-corner-radius);
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .doubleImageContainer {
        flex-direction: column;
    }

    .oneThirdImageContainer {
        width: 100%;
    }

    .twoOntThirdImages,
    .oneThirdTwoImages {
        display: flex;
        flex-direction: column;
    }

    .fourContainterMobileOrder :nth-child(1){

    }
    .fourContainterMobileOrder :nth-child(2){

    }
    .fourContainterMobileOrder :nth-child(3){
        order: 4;
    }
    .fourContainterMobileOrder :nth-child(4){
        order: 3;
    }
}


.nextCaseStudyLink {
    text-align: center;
    width: 100%;

    p {
        font-size: var(--fs-48);
        color: var(--prime-text-color);
        text-decoration: underline;
    }

    h4,
    h4 a {
        font-size: var(--fs-164);
        color: var(--prime-text-color);
    }
}